table, th, td {
    border:1px solid black;
  }
img{
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul{
  list-style-type: none;
}
.textoCorreo{
  color:blue;
  font-weight: 900;
}
.textoFecha{
  color:brown;
}
.textoMensaje{
  color: green;
  font-style: italic;
}