<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/chat.js" defer></script>

        <style>
        body {
            background-color: #f0ced6;
        }
        table, th, td {
        border:1px solid black;
        }
        img{
            width: 20%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        ul{
        list-style-type: none;
        }
        .textEmail{
        color:blue;
        font-weight: 900;
        }
        .textDate{
        color:brown;
        }
        .textMsg{
        color: green;
        font-style: italic;
        }
        #profilePicFrame {
            height: 120px;
            width: 150px;
            float: left;
            clear: both;
            margin-right: 15px;
            
        }
        /* Dropdown Button */
        .dropbtn {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        padding: 16px;
        font-size: 16px;
        border: none;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
        position: relative;
        display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #ddd;}

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {display: block;}

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {background-color: #eb7993;}
        </style>
    </head>
    <body>
        <section>
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/accounts/profile">My account</a>
                <a href="/accounts/cart">My cart</a>
                <a href="/accounts/logout">Log out</a>
            </div>
        </div>
        <h1> Welcome, {{fullName}}</h1>
            <p>Sending messages as: <b id="emailSender">{{email}}</b></p>
            <small><a href="/chat/{{email}}">See your sent messages here</a></small>
            <hr>
        </section>


        <section>        
            <h1>Create a conversation</h1>
            <label for="text">Text:</label><br>
            <input type="text" id="firstMsg" name="text" required><br><br>
            <button id="createConversationBtn">Send</button>
            <hr>
        </section>

        <section id="conversationsList">
        </section>
    </body>


