<h1>Server error</h1>
"Sorry! Server was created by an inept. Error message logged." Returning you to home screen.

<script>
  setTimeout(function () {
     window.location = "/";
  }, 5000)
</script>

<style>
  body{
    background-color: #f0ced6;
  }
</style>