<script>
  setTimeout(function () {
     window.location = "/";
  }, 5000)
</script>

<h1>Username or email already exists! Try again!</h1>

<button><a href="/accounts/register">Return to register</a></button>

<style>
  body{
    background-color: #f0ced6;
  }
</style>