<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/home.js" defer></script>

        <style>
        table, th, td {
        border:1px solid black;
        }
        img{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
        </style>
    </head>
    <body>
        <section>
        <div>
            <button type="button" class="btnLogout">Log out</button>
            <div class="username"></div>
            <script id="username" type="text/x-handlebars-template">
                <h1> Welcome, {{name}}</h1>
            </script>
            
        </div>
        </section>

<iframe name="dummyframe" id="dummyframe" style="display:none"></iframe>
        <section class="input-products">
            <hr>
            <h1>Create a product</h1>
            <form action="/" method="post" target="dummyframe">
                <label for="Name">Name:</label><br>
                <input type="text" id="name" name="name"><br><br>

                <label for="Price">Price:</label><br>
                <input type="number" id="price" name="price"><br><br>

                <label for="thumbnail">Thumbnail:</label><br>
                <input type="text" id="thumbnail" name="thumbnail"><br><br>

                <input class="createProductBtn" type="submit" value="Submit">
            </form>
            <hr>
        </section>


        <section class="list-products">
            
            <!-- Un script que me voy a traer para convertir en template e inyectar. Fetch me estaba tratando mal pero esto funciona-->
            <script id="list-products" type="text/x-handlebars-template">
                <table>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Thumbnail</th>
                    </tr>
                    {{#each data}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>${{this.price}}</td>
                            <td><img src={{this.thumbnail}}></td>
                        </tr>
                    {{/each}}    
                </table>
            </script>
        </section>
        <hr>
    </body>
</html>


