<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="/home.js" defer></script>

        <style>
        table, th, td {
        border:1px solid black;
        }
        img{
            width: 20%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        ul{
        list-style-type: none;
        }
        .textEmail{
        color:blue;
        font-weight: 900;
        }
        .textDate{
        color:brown;
        }
        .textMsg{
        color: green;
        font-style: italic;
        }
        #profilePicFrame {
            height: 120px;
            width: 150px;
            float: left;
            clear: both;
            margin-right: 15px;
            
        }
        /* Dropdown Button */
        .dropbtn {
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        padding: 16px;
        font-size: 16px;
        border: none;
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
        position: relative;
        display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #ddd;}

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {display: block;}

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {background-color: #eb7993;}
        </style>
    </head>




    <body style="background-color: #f0ced6;">
        <section>
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="/accounts/profile">My account</a>
                <a href="/accounts/cart">My cart</a>
                <a href="/accounts/logout">Log out</a>
            </div>
            <div class="email"></div>
            
            <h1> Welcome, {{data.user.fullName}}</h1>
            <hr>
            
        </div>
        </section>


        <section class="input-products">
            
            <h1>Create a product</h1>
            
                <label for="Name">Name:</label><br>
                <input type="text" id="name" name="name" required><br><br>

                <label for="Price">Price:</label><br>
                <input type="number" id="price" name="price" required><br><br>

                <label for="description">Description:</label><br>
                <input type="text" id="description" name="description" required><br><br>

                <label for="photo">Photo:</label><br>
                <input type="text" id="photo" name="photo" required><br><br>

                <input class="createProductBtn" type="submit" value="Submit">
        
            <hr>
        </section>


        <section id="list-products">
            
        </section>
        <hr>

{{!--         <section class="centro-mensajes">
            <h1>Chat</h1>
            <div class="list-msgs">
                <script id="list-msgs" type="text/x-handlebars-template">
                    <ul>
                        {{#each msgs}}
                        <li>
                            <span class="textEmail">{{this.author.0.name}}</span>
                            <span class="textDate">{{this.date}}</span>
                            <span class="textMsg">{{this.text}}</span>
    
                        </li>
                        {{/each}}
                    </ul>
                </script>
            </div>
            
            <div>
                <label>Message:</label>
                <input type="text" id="msg" name="msg" style="opacity: 50%">
                <button class="submitMensaje" type="button">Enviar</button>
            </div>
        </section> --}}
    </body>
</html>


