<script>
  setTimeout(function () {
     window.location = "/";
  }, 5000)
</script>

<h1>Incorrect credentials! Try again!</h1>

<button><a href="/accounts/login">Return to login</a></button>

<style>
  body{
    background-color: #f0ced6;
  }
</style>