<section>
    <h1>Log in</h1>
    <form action="/login" method="post">
        <label for="username">Enter your username:</label><br>
        <input type="text" id="username" name="username" required><br><br>
        <input class="submitBtn" type="submit" value="Submit">
    </form>
</section>

<script>
</script>