<section>
    <h1>Log in</h1>
    <form action="/accounts/login" method="post">
        <label for="email">Enter your email:</label><br>
        <input type="text" id="email" name="email" required><br><br>

        <label for="password">Enter your password:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        
        <input class="submitBtn" type="submit" value="Submit">
    </form>
</section>

<section>
    <h3>Not an user? Register <a href="/accounts/register">here</a></h3>
</section>

<style>
  body{
    background-color: #f0ced6;
  }
</style>