<style>
table, th, td {
  border:1px solid black;
}
img{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>



<h1>Mis productos</h1>


{{#if data}}
<table>
    <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Foto</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.title}}</td>
        <td>${{this.price}}</td>
        <td><img src={{this.thumbnail}}></td>
    </tr>
    {{/each}}    
</table>
{{else}}
    <h2>No hay productos!</h2>
{{/if}}

<br>
<a href="/"><button type="button">Cargar un producto</button></a>