<h1>Register</h1>
    <form action="/accounts/register" method="post">
        <label for="nombre">Email:</label><br>
        <input type="text" id="email" name="email"><br><br>

        <label for="nombre">Username:</label><br>
        <input type="text" id="username" name="username"><br><br>

        <label for="precio">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>

        <label for="thumbnail">Confirm your password:</label><br>
        <input type="password" id="confpassword" name="confpassword"><br><br>

        <input class="registerUserBtn" type="submit" value="Submit">
    </form>

<section>
    <h3>Already an user? Log in <a href="/accounts/login">here</a></h3>
</section>