<h1>Register</h1>
    <form action="/accounts/register" method="post" class="form" {{!-- enctype="multipart/form-data" --}}>
        <label for="fullname">Full name:</label><br>
        <input type="text" id="fullname" name="fullname"><br><br>

        <label for="adress">Adress:</label><br>
        <input type="text" id="adress" name="adress"><br><br>

        <label for="age">Age:</label><br>
        <input type="number" id="age" name="age"><br><br>

        <label for="phonenumber">Phone number:</label><br>
        <input type="text" id="phonenumber" name="phonenumber"><br><br>

        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>

        <label for="confpassword">Confirm your password:</label><br>
        <input type="password" id="confpassword" name="confpassword"><br><br>

{{!--         <label for ="avatar">Upload your profile picture:</label><br>
        <input type="file" name="avatar"/><br><br> --}}

        <input class="registerUserBtn" type="submit" value="Submit">
    </form>

<section>
    <h3>Already an user? Log in <a href="/accounts/login">here</a></h3>
</section>

<script>
    let form = document.querySelector(".form")
    let pass1Btn = document.getElementById("password")
    let pass2Btn = document.getElementById("confpassword")

    form.addEventListener("submit", (event) => {
        if (pass1Btn.value != pass2Btn.value){
            alert("Passwords MUST match!")
            event.preventDefault()
        }
    })
</script>

<style>
  body{
    background-color: #f0ced6;
  }
</style>