<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
           border:1px solid black;
        }
        img{
            width: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <%- include('../partials/head') %>
</head>
<body>
    <h1>Mis productos</h1>
    <% if(dataExists){ %>
        <table>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Foto</th>
            </tr>
            <% data.forEach((current)=> { %>
                <tr>
                    <td><%= current.title %></td>
                    <td><%= "$" + current.price %></td>
                    <td><img src="<%= current.thumbnail %>"></td>
                </tr>
            <% }) %>

        </table>
    <% } else { %>
        <h2>No hay productos!</h2>
    <% } %>
    <br>
    <a href="/"><button>Agregar un producto</button></a>
</body>
</html>